

* {                                        
  box-sizing: border-box;                  
  margin: 0px;                             
}

html, body {                      
  margin: 0px;                    
  background-color: #ffd9a8;    
  color: #000000;               
}  

div {                             
  overflow: hidden;               
}



.page {
  width: 700px;                   
  margin: 10px auto;               (gecentreerd) 
}

header, footer {                  
  margin: 10px 0px;
}

main {                       
  text-align: justify;           
}

h1, h2, h3 {                    
  margin: 10px 0px;
  text-align: center;            
} 

p {
  margin: 10px 0px;
  text-align: justify;            
}

img {
  margin: 10px 0px;
}



.item-plaatje {
  float:left;
  width:300px;
  padding-right: 50px; 
  height: 150%;
}
.item-tekst {
  float:right;
  width: 450px;
}



h1, h2, h3 {
      color: #7c2a00;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #7c2a00;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #7c2a00;
}

nav li a.active {
    background-color: #4f7a28;
}

.Bernard{
   float:left;
  width:200px;
  padding-right: 5px; 
  height: 122%;
}


  .Flag{
    float:left;
    width:230px;
    padding-right: 10px; 
    height: 180%;
  }

.Chanel{
  margin-left: 100px;
}

.boutiqe{
  margin-left: 100px;
}

.pancake{
  float:left;
  width:200px;
  height: 22%;
}
